footer {
	background: $teal;
	padding-top: 2em;
	padding-bottom: 2em;
	color: $white;
	text-align: center;
	& p {
		margin: 0;
		padding: 0;
		line-height: 2;
	}
}

@include from(medium) {
	.menu-icon {
		display: none;
	}
	.menu-items {
		border-top: 0;
		justify-content: flex-end;
		display: flex;
		flex-wrap: wrap;
		& li {
			padding: 0 2em;
			display: inline-block;
		}
	}
}

@include from(medium) {
	footer {
		font-size: 1.5em;
	}
}